@import url(http);
body{
    font-family: 'Times New Roman', Times, serif,
    sans-serif;
    font-size: 13px;
    text-align: justify;
}
body#principal{
    background-image: url();
   background-size: 200px , 200px;
}
div.centro{
    padding-left: 10%;
    padding-right: 20%;
}
div.izquierda{
 padding-right: 90%;
 position: fixed;
}
p#notaizquierda{
    color: black;
    font-size: small;
    padding: 10px;
    border-style: ridge;
    font-weight: bold;
    background: lightslategray;
    border-radius: 10px;
}
div.derecha{
    padding-left: 80%;
    position: fixed;
}
aside#nota1{
    padding: 5px;
    background-color: rgb(255, 140, 0);
}
section, header{
    background: #F1F5F5;
    padding: 12px;
}
h1{
    font-size:large;
    color: white;
    background: rgb(144, 144, 201);
    text-align: center;
}
h2{
    color: rgb(132, 132, 173);
    border-bottom-color: darkslateblue;
    border-bottom-style: solid;
}
h3{
    color: darkblue;
}
em.termino{
    color: darkblue;
}
em.propiedad{
    color: red;
    font-weight: bold;
    font-style: normal;
}
em.valor{
    color: red;
    font-weight: bold;
    font-style: normal;
}
aside#nota2{
    padding: 5px;
    background-color: lightblue;
    border-color: blue;
    border-style: solid;
    border-width: thin;
}
p.normal:hover,
p.inicial:hover,
li.itemnivel1:hover,
header:hover,
aside:hover
{
font-size:large;
}
p.inicial::first-letter{
    font-size: large;
    font-family: cursive;
}
p:hover,
li:hover,
header:hover
{
    background-color: white;
}
img#pFlotante{
    float: inline-end;
}
img#pAbsoluto{
position: absolute;
}
.cajaPadre{
    margin: 20px;
    width: 500px;
    height: 500px;
    background-color: black;
    position: absolute;
}
img#pRelativo{
    position: relative;
}
img#pFijo{
    position: fixed;
}

